<div class="alert alert-danger mt-2" *ngIf="orders==null || orders.length == 0 ">
  <span>Nessun Prodotto nell'ordine!</span>
</div>
<div class="table table-responsive mt-4" *ngIf="orders!=null && orders.length != 0 ">
  <h1 class="display-1">Dettaglio Ordine</h1>
  <hr>
  <div *ngFor="let order of orders">
    <div class="card mb-3" style="max-width: 900px;">
      <div class="row ">
        <div class="col-md-3">
          <img src="{{order.img}}" class="card-img" style="max-height: 320px; min-height: 320px; max-width: 240px; min-width: 240px" alt="Immagine prodotto">
        </div>
        <div class="col-md-8">
          <div class="card-body ml-2">
            <div class="row">
              <div class="col">
              <h5 class="card-title">{{order.name}}</h5>
                <p class="card-text">Descrizione: {{order.desc}}</p>
                <p class="card-text">Prezzo: {{order.price}}</p>
                <p class="card-text">Quantità: {{order.quantity}}</p>
              </div>
              <div class="col">
                <a class="btn btn-primary m-2" (click)="changeQuantity(order)">Modifica</a>
                <a class="btn btn-primary m-2" (click)="deleteProduct()">Annulla</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>