<div class="card text-center " style="width: 16rem;">
  <h5 class="card-title">{{product.productName}}</h5>
  <img class="card-img-top" style="max-height: 320px; min-height: 320px;" src="{{product.img}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{product.desc}}</p>
    <p>Prezzo: {{product.productPrice}}€</p>
    <a class="btn btn-primary" *ngIf="showButton">Aggiungi al carrello</a>
    <a class="btn btn-primary mr-2" *ngIf="productData.seller" (click)="editProduct()">Modifica</a>
    <a class="btn btn-primary mr-2" *ngIf="productData.seller" (click)="deleteProduct()">Cancella</a>
  </div>
</div>