.card-columns {
      column-count: 3;
}

table.dataTable{border-collapse:collapse !important;}

.table > tbody > tr > td {
      vertical-align: middle;
 }

 div[class="card-columns"]{
      text-align: center;
 }

.space{
      justify-content: space-evenly;
}

.change-view{
      display: flex;
      justify-content: space-evenly;
}

